-if resource.commentable.is_a?(Answer)
  p
    |Comment by #{resource.user.email} for answer in question:
    =link_to resource.commentable.question.title, question_path(resource.commentable.question), target: :_blank
    br
    |"
    =resource.body
    |"

-if resource.commentable.is_a?(Question)
  p
    |Comment by #{resource.user.email} for question:
    =link_to resource.commentable.title, question_path(resource.commentable), target: :_blank
    br
    |"
    =resource.body
    |"

